.home-container {
  position: absolute;
  top: 20px;
  bottom: 5px;
  height: 900px;
  width: 100%;
  z-index: -1;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-heading {
  padding-top: 10%;
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(245, 189, 49);
  font-size: 3rem;
}

.title-home {
  font-family: "Poppins", Sans-serif;
  font-size: 3.5vw;
  font-weight: bold;
}

.title-home2 {
  font-family: var(--e-global-typography-229a5c7-font-family), Sans-serif;
  font-size: var(--e-global-typography-229a5c7-font-size);
  font-weight: var(--e-global-typography-229a5c7-font-weight);
  line-height: var(--e-global-typography-229a5c7-line-height);
  letter-spacing: var(--e-global-typography-229a5c7-letter-spacing);
  word-spacing: var(--e-global-typography-229a5c7-word-spacing);
}
